doctype html
html(lang='en')
  head
    title Welcome
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    .navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') NodeAuth
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            if user
             li(class=(title == 'Members' ? 'active' : ''))
               a(href='/') Members
            if !user
             li(class=(title == 'Register' ? 'active' : ''))
               a(href='/users/register') Register
             li(class=(title == 'Login' ? 'active' : ''))
               a(href='/users/login') Login
          ul.nav.navbar-nav.navbar-right
           if user
            li
               a(href='/users/logout') Logout
    .container
     != messages()
     block content
     
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='javascripts/bootstrap.js')